* { 
    text-decoration: none; 
} 

body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Arial', sans-serif; 
    background-color: #fff; 
}

/* Navigation styling */
.site-navigation { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    padding: 10px 10px; 
    justify-content: space-between; 
    background-color: transparent; 
    position: fixed; 
    font-size: 15px;
    top: 0;
} 

.nav-link:hover { 
    text-decoration: underline; 
} 

.header-container-advanced { 
    width: 90vw;
    min-height: auto;
    height: 10vh; 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 10px; 
    align-items: center;
    gap: 10px; 
} 

#google_logo_advanced{
    display: inline-block;
    height: 24px;
    width: 74px;
}

#advanced_search_heading{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

/* Main section styling */
main { 
    width: 90vw;
    padding-left: 10px; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    margin-top: 10vh;
    margin-left: 35px;
    background-position: center; 
    background-repeat: no-repeat; 
    vertical-align: baseline;

    max-width: 1140px;
    min-width: 200px;
    /*
    width: 96%;
    margin: 40px 2% 0 45px;
    */
} 

.find-pages {
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 20px;
    vertical-align: baseline;
    text-decoration: none;
    margin: 35px;
}

.advanced-form {
    margin: 35px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
}

/* Search Input Section styling */
.search-input-section { 
    border: 1px solid rgb(200, 200, 200); 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 50vw;
    max-width: 638px;    
    background-color: white; 
    margin-top: -20px; 
    margin-bottom: 30px; 
    border-radius: 30px; 
    padding: 5px 10px; 
    height: 37px;     
} 

.search-input-section:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
}

.input-div {
    width: calc(100% - 210px);
    max-width: 785px;
    min-width: 335px;
}

.search-input { 
    width: calc(100% - 210px);
    max-width: 538px;
    min-width: 300px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
} 
  
.search-input:focus { 
    outline: none;
    cursor: text;
} 
  
.search-input-container { 
    display: flex; 
    flex-direction: row; 
    justify-content: left; 
    align-items: center; 
    width: 100%; 
} 
  
.search-input-container input { 
    margin-left: 10px; 
} 
  
/* Buttons Section styling */

.google-search-btn { 
    font-size: 1rem; 
    font-weight: 100;
    padding: 10px 20px; 
    user-select: none;
    border-radius: 5px;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    float: right;
    padding: 8px 20px;
} 
  
.google-search-btn:hover { 
    border: 1px solid rgb(214, 214, 214); 
    box-shadow: 0 2px 2px rgba(162, 162, 162, 0.3); 
    cursor: pointer;
} 

.gsb { 
    height: 20px;
    margin-left: 10px;
}