@keyframes pulse {
  0% { transform: scale(1); fill: gray; }
  50% { transform: scale(2); fill: red; }
  100% { transform: scale(1.5); fill: red; }
}

svg {
  width: 20px;
  height: 20px;
  /* transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out; */
  fill: gray;
}

/* Apply animation when active */
.liked {
  animation: pulse 1s ease-in-out;
  animation-fill-mode: forwards;
  fill: red;
}

button {
  border: 10px;  
  background: none; 
  padding: none;
  cursor: pointer;
}

textarea {
    min-height: 100px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .post-sender {
    font-weight: bold;
  }
  
  .post-content {
    margin-left: 20px;
    flex-grow: 1; /* Ensures the subject takes up remaining space */
    text-overflow: ellipsis; /* Truncates long subjects */
    overflow: hidden;
    white-space: nowrap;
  }
  
  .post-timestamp {
    color: #666; /* A subtle color for timestamps */
    font-size: 0.9em; /* Slightly smaller text for timestamps */
    text-align: right;
  }