{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}

    {% if messages %}

    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}

    {% endif %}

    <h1>New Page</h1>
    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
        {{ form.title.label_tag }}<br>
        {{ form.title }}<br>
        {{ form.content.label_tag }}<br>
        {{ form.content }}<br>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}