{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create New Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        
        <!--
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="title" placeholder="Listing Title" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Item description" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="starting_bid" placeholder="Starting Bid" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image_url" placeholder="Image URL">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="category" placeholder="Category" required>
            </div>
        -->

        <input class="btn btn-primary" type="submit" value="Submit new Listing">
    </form>

{% endblock %}