{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings</h2>

    {% for listing in my_listings %}
        <div class="product-card">
            <div class="product-image">
                <img src={{listing.image_url}}>
            </div>
            <div class="product-details">
                <h2><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></h2>
                <p class="description">{{ listing.description }}</p>
                <p class="price">$ {{ listing.current_bid }}</p>
                {% if listing.active %}
                <p>Status: ACTIVE</p>
                {% else %}
                <p>Status: CLOSED</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
    <p>Create your first listing in "Create Listing"</p>
    {% endfor %}

{% endblock %}