{% extends "network/layout.html" %}

{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="new-post">
    <h3>New Post</h3>
    <form id="new-post-form">
        <textarea required class="form-control" id="post-content" placeholder="What is happening?!"></textarea>
        <input type="submit" class="btn btn-primary" value="Post">
    </form>
</div>
{% endif %}
<h1 id="page-heading">All Posts</h1>

<div id="post-container"></div>

<div id="pagination-div"></div>

<div id="profile-container">
    <h1 id="profile-heading"></h1>
    <p id="followers"></p>
    <p id="following"></p>
    <button id="follow-button"></button>
    <p id="user-posts-heading"></p>
    <div id="user-posts"></div>
</div>

{% endblock %}

